body{
    display: flex;
    background-color: gray;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}
form{
    width: 50%;
    position: relative;
    height: 50px;   
}
form input{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    font-size: 20px;
    border: none;
}
ul{
    padding-top: 65px;
}
#todo{
    font-size: 30px;
}
ul li{
    font-size: 35px;
}